.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    flex: 0 1 auto;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.tab-content {
    border: 1px solid #dee2e6;
    border-top: 1px solid transparent;
    padding-bottom: 20px;
}

#otherpanel .row .col-sm-12 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

#editpersonal .col-75 {
    text-align: left;
}

.col-33 {
    position: relative;
    display: inline-block;
    width: 33.3333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.x {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.label input[type=radio], .checkbox input[type=checkbox] {
    margin-right: 5px;
}

.label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.row {
    margin: 0px;
}